html,
body,
#__next {
  min-height: 100%;
  height: 100%;
}

body {
  background: #f5f5f5 !important;
}

.half-tab {
  background: none;

  &:before {
    position: absolute;
    content: "";
    left: 50%;
    width: 50%;
    height: 100%;
    background: #000;
  }
}

.tab {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  text-align: center;
  margin-bottom: 10px;

  &--spacer {
    width: 10px;

    span {
      display: none !important;
    }
  }

  &--a {
    span:nth-child(3),
    span:nth-child(4),
    span:nth-child(5),
    span:nth-child(6) {
      background: none;
    }
  }

  &--b {
    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4),
    span:nth-child(5),
    span:nth-child(6) {
      background: none;
    }
  }

  &--c {
    span:nth-child(1),
    span:nth-child(4),
    span:nth-child(5),
    span:nth-child(6) {
      background: none;
    }
    &-sharp {
      span:nth-child(1),
      span:nth-child(2),
      span:nth-child(3),
      span:nth-child(4),
      span:nth-child(5),
      span:nth-child(6) {
        background: none;
      }
    }
  }

  &--d {
    &-sharp {
      span:nth-child(6) {
        @extend .half-tab;
      }
    }
  }

  &--e,
  &--e-plus,
  &--e-plus-plus {
    span:nth-child(6) {
      background: none;
    }
  }

  &--f {
    span:nth-child(5) {
      @extend .half-tab;
    }
    span:nth-child(6) {
      background: none;
    }

    &-sharp {
      span:nth-child(5),
      span:nth-child(6) {
        background: none;
      }
    }
  }

  &--g,
  &--g-plus,
  &--g-plus-plus {
    span:nth-child(4),
    span:nth-child(5),
    span:nth-child(6) {
      background: none;
    }

    &-sharp {
      span:nth-child(3) {
        @extend .half-tab;
      }
      span:nth-child(4),
      span:nth-child(5),
      span:nth-child(6) {
        background: none;
      }
    }
  }

  span {
    background: #000;
    border: 1px #000 solid;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1px;
    display: block;
    position: relative;
    overflow: hidden;

    &:nth-child(3) {
      margin-bottom: 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
